app-template:
  controllers:
    main:
      pod:
        annotations:
          operator.1password.io/item-path: "vaults/4uaua4a45yuhnwhehp5bwylmti/items/2ortihqm434zoylzxr5pag7bba"
          operator.1password.io/item-name: "secrets"
      containers:
        main:
          image:
            repository: ghcr.io/sytone/obsidian-remote
            tag: latest
            pullPolicy: Always
          env:
            TZ: America/Chicago
            PUID: "1000"
            PGID: "1000"
            DOCKER_MODS: linuxserver/mods:universal-git
            CUSTOM_USER:
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: custom-user
            PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: password
          ports:
            - name: http
              containerPort: 8080
            - name: https
              containerPort: 8443
  service:
    main:
      controller: main
      ports:
        http:
          port: 8080
          targetPort: http
        https:
          port: 8443
          targetPort: https
  ingress:
    main:
      enabled: true
      className: nginx
      hosts:
        - host: obsidian.eaglepass.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: http
      tls:
        - secretName: obsidian-tls
          hosts:
            - obsidian.eaglepass.io
  persistence:
    data:
      enabled: true
      type: nfs
      server: 10.0.50.3
      path: /mnt/user/obsidian
      advancedMounts:
        main:
          main:
            - path: /vaults
    config:
      enabled: true
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
      size: 5Gi
      advancedMounts:
        main:
          main:
            - path: /config