app-template:
  controllers:
    main:
      replicas: 1
      strategy: Recreate
      containers:
        main:
          image:
            repository: lscr.io/linuxserver/nextcloud
            tag: latest
            pullPolicy: Always
          env:
            - name: TZ
              value: "America/Chicago"
            - name: PHP_MEMORY_LIMIT
              value: "1024M"
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
            limits:
              cpu: 2000m
              memory: 2Gi
        valkey:
          image:
            repository: valkey/valkey
            tag: alpine
          env:
            - name: TZ
              value: "America/Chicago"
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
  service:
    main:
      controller: main
      primary: true
      ports:
        https:
          port: 443
          targetPort: https
          protocol: HTTPS
  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
        nginx.ingress.kubernetes.io/proxy-body-size: "16G"
        nginx.ingress.kubernetes.io/proxy-buffering: "on"
        nginx.ingress.kubernetes.io/proxy-buffer-size: "128k"
        nginx.ingress.kubernetes.io/proxy-buffers-number: "4"
        nginx.ingress.kubernetes.io/proxy-connect-timeout: "60"
        nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
        nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
        external-dns.alpha.kubernetes.io/target: "homelab-tunnel.eaglepass.io"
        external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &host nextcloud.eaglepass.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: https
      tls:
        - hosts:
            - *host
          secretName: nextcloud-tls-certificate
  persistence:
    data:
      enabled: true
      type: nfs
      server: 10.0.40.3
      path: /mnt/user/nextcloud
      advancedMounts:
        main:
          main:
            - path: /data
    config:
      enabled: true
      accessMode: ReadWriteOnce
      size: 10Gi
      retain: true
      advancedMounts:
        main:
          main:
            - path: /config
  defaultPodOptions:
    annotations:
      operator.1password.io/item-path: "vaults/4uaua4a45yuhnwhehp5bwylmti/items/c5krkheantm42ss5tgpg5gsxeq"
      operator.1password.io/item-name: "secrets"
