app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: docker.io/brimdor/explorer
            tag: latest
            pullPolicy: Always
          env:
            TZ: "America/Chicago"
  service:
    main:
      controller: main
      primary: true
      ports:
        http:
          port: 80
          protocol: HTTP
  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: explorers-hub.eaglepass.io
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - explorers-hub.eaglepass.io
          secretName: explorers-hub-tls-certificate
