#https://github.com/bjw-s-labs/helm-charts/blob/main/charts/library/common/values.yaml for all options
app-template:
  controllers:
    main:
      strategy: RollingUpdate
      replicas: 1
      containers:
        main:
          nameOverride: main
          image:
            repository: ghcr.io/open-webui/open-webui
            tag: latest
            pullPolicy: Always
          env:
            PUID: "99"
            PGID: "100"
            TZ: "America/Chicago"
            ENABLE_LOGIN_FORM: "true"
            WEBUI_URL: "https://open.eaglepass.io"
            BYPASS_MODEL_ACCESS_CONTROL: "false"
            OLLAMA_BASE_URL: "http://ollama.ollama.svc.cluster.local:11434"
            RAG_EMBEDDING_ENGINE: "ollama"
            VECTOR_DB: "qdrant"
            QDRANT_URI: "http://qdrant.qdrant.svc.cluster.local:6333"
            ENABLE_OLLAMA_API: "false"
            AUDIO_STT_ENGINE: "openai"
            ENABLE_SIGNUP_PASSWORD_CONFIRMATION: "false"
            USER_AGENT: "OpenWebUI-eaglepass (+https://open.eaglepass.io)"
            # MCPO_URL: "http://mcpo.open-webui.svc.cluster.local:8081"
            WEBUI_SECRET_KEY:
              valueFrom:
                secretKeyRef:
                  name: "secrets"
                  key: "webui-secret-key"
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
          # resources:
          #   limits:
          #     cpu: 1
          #     memory: "2048Mi"
          #   requests:
          #     cpu: 0.5
          #     memory: "1024Mi"
  service:
    main:
      primary: true
      ports:
        http:
          port: 8080
          protocol: HTTP
  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        external-dns.alpha.kubernetes.io/target: "homelab-tunnel.eaglepass.io"
        external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &Host open.eaglepass.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: 8080
      tls:
        - hosts:
            - *Host
          secretName: open-tls-certificate
  persistence:
    data:
      type: nfs
      server: 10.0.40.3
      path: /mnt/user/openwebui
      advancedMounts:
        main:
          main:
            - path: /app/backend/data
  defaultPodOptions:
    annotations:
      operator.1password.io/item-path: "vaults/4uaua4a45yuhnwhehp5bwylmti/items/gsdumrejgu5tvtft4rutwtbdgy"
      operator.1password.io/item-name: "secrets"