app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: docker.io/brimdor/family-games-rules
            tag: latest
            pullPolicy: Always
          env:
            TZ: "America/Chicago"
  service:
    main:
      controller: main
      primary: true
      ports:
        http:
          port: 80
          protocol: HTTP
  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        external-dns.alpha.kubernetes.io/target: "homelab-tunnel.eaglepass.io"
        external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: family-games-rules.eaglepass.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: 80
      tls:
        - hosts:
            - family-games-rules.eaglepass.io
          secretName: family-games-rules-tls-certificate
