app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        main:
          image:
            repository: 10.0.20.11:32309/clawdbot
            tag: latest
            pullPolicy: Always
          command: ["clawdbot", "gateway"]
          env:
            - name: TZ
              value: America/Chicago
            - name: DISCORD_TOKEN
              valueFrom:
                secretKeyRef:
                  name: clawdbot-secret
                  key: discord-token
      pod:
        annotations:
          operator.1password.io/item-path: "vaults/4uaua4a45yuhnwhehp5bwylmti/items/2d2xphod42xwz2eoxs3tyyx7je"
          operator.1password.io/item-name: "clawdbot-secret"

  service:
    main:
      controller: main
      ports:
        http:
          port: 18789

  ingress:
    main:
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: clawdbot.eaglepass.io
          paths:
            - path: /
              service:
                identifier: main
                port: http
      tls:
        - hosts:
            - clawdbot.eaglepass.io
        
  persistence:
    config:
      enabled: true
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
      size: 1Gi
      globalMounts:
        - path: /home/node/.clawdbot
    data:
      enabled: true
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
      size: 5Gi
      globalMounts:
        - path: /home/node/clawd
