mirrors:
  "10.0.20.11:32309":
    endpoint:
      - "http://10.0.20.11:32309"
  "zot.zot.svc.cluster.local:5000":
    endpoint:
      - "http://zot.zot.svc.cluster.local:5000"
  "registry.eaglepass.io":
    endpoint:
      - "https://registry.eaglepass.io"
