argo-cd:
  global:
    domain: argocd.eaglepass.io
  configs:
    params:
      server.insecure: true
      controller.diff.server.side: true
    cm:
      resource.ignoreResourceUpdatesEnabled: true
      resource.customizations.ignoreResourceUpdates.all: |
        jsonPointers:
          - /status
      resource.customizations.useOpenLibs.apps_StatefulSet: true
      exec.enabled: "true"
  server:
    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      tls: true
    metrics: &metrics
      enabled: true
      serviceMonitor:
        enabled: true
  dex:
    enabled: false
  controller:
    metrics: *metrics
  repoServer:
    metrics: *metrics
  redis:
    metrics: *metrics
argocd-apps:
  applicationsets:
    root:
      namespace: argocd
      generators:
        - git:
            repoURL: &repoURL https://github.com/brimdor/homelab
            revision: &revision master
            directories:
              - path: system/*
              - path: platform/*
              - path: apps/*
      template:
        metadata:
          name: '{{path.basename}}'
        spec:
          destination:
            name: in-cluster
            namespace: '{{path.basename}}'
          project: default  # TODO
          source:
            repoURL: *repoURL
            path: '{{path}}'
            targetRevision: *revision
          ignoreDifferences:
            - group: external-secrets.io
              kind: ExternalSecret
              jsonPointers:
                - /spec/data/0/remoteRef/conversionStrategy
                - /spec/data/0/remoteRef/decodingStrategy
                - /spec/data/0/remoteRef/metadataPolicy
                - /spec/data/1/remoteRef/conversionStrategy
                - /spec/data/1/remoteRef/decodingStrategy
                - /spec/data/1/remoteRef/metadataPolicy
                - /spec/data/2/remoteRef/conversionStrategy
                - /spec/data/2/remoteRef/decodingStrategy
                - /spec/data/2/remoteRef/metadataPolicy
                - /spec/data/3/remoteRef/conversionStrategy
                - /spec/data/3/remoteRef/decodingStrategy
                - /spec/data/3/remoteRef/metadataPolicy
            - group: apps
              kind: StatefulSet
              jqPathExpressions:
                - .spec.persistentVolumeClaimRetentionPolicy
                - .spec.volumeClaimTemplates
                - .spec.template.spec.containers[].resources
          syncPolicy:
            automated:
              prune: true
              selfHeal: true
            retry:
              limit: 10
              backoff:
                duration: 1m
                factor: 2
                maxDuration: 16m
            syncOptions:
              - CreateNamespace=true
              - ApplyOutOfSyncOnly=true
              - ServerSideApply=true
              - RespectIgnoreDifferences=true
